<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class='logo'>{{title}}</h1>
    <div class='form'>
      <form class="get_tweets" id="get_tweets" action="/tweets/all" accept-charset="UTF-8" method="GET">
          <input class='keyword' placeholder="Enter keyword" type="text" name="keyword" id="tweet_keyword"><br><br>
          <!-- <label for="happy">Happy</label>
          <input type="radio" name="filter" value="Happy" id="happy">
          <label for="sad">Sad</label>
          <input type="radio" name="filter" value="sad" id="sad"> -->
          <input class='button two' type="submit" name="commit" value="Get Tweets">
    </form>
  </div>
    {{{body}}}
  </body>
</html>
