body {
  background: url('../images/avalanche.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.logo{
  color: #fff;
  text-align: center;
  min-height: 20vh;
}
.form{
  max-width: 1200px;
  text-align: center;
}

input,
label {
  display: inline-block;
}

label {
  font-size: 18px;
  color: blue;
  background: white;
}


input.button{
  background-color: #fff;
}
input.keyword{
  opacity: 0.9;
  width: 30vw;
  height: 4vh;
}
table {
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 2px solid #000000;
  background: white;
  opacity: 0.6;
  padding:10px;
}

#happy,
#sad {
  display: inline-block;
}
